@import "mixins",
        "vars";

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/galaxy.jpg") no-repeat;
    background-size: cover;
}

.sun {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: orange;
    box-shadow: 0 0 10px orange,
                0 0 15px yellow,
                0 0 20px red;
}

.earth-orbit {
    @include planet-orbit($orbit-dimensions);
    .earth {
        @include planet;
        @include animation($time);
        &::after {
            @include planet-after($diameter, $earth-color, -3.5%);
        }
    }
}

.mercury-orbit {
    @include planet-orbit(0.4*$orbit-dimensions);
    .mercury {
        @include planet;
        @include animation(0.3*$time);
        &::after {
            @include planet-after(0.4*$diameter, $mercury-color, -3.5%);
        }
    }
}

.venus-orbit {
    @include planet-orbit(0.7*$orbit-dimensions);
    .venus {
        @include planet;
        @include animation(0.6*$time);
        &::after {
            @include planet-after(0.8*$diameter, $venus-color, -3.5%);
        }
    }
}

.mars-orbit {
    @include planet-orbit(1.35*$orbit-dimensions);
    .mars {
        @include planet;
        @include animation(2*$time);
        &::after {
            @include planet-after(0.8*$diameter, $mars-color, -2%);
        }
    }
}

.jupiter-orbit {
    @include planet-orbit(1.8*$orbit-dimensions);
    .jupiter {
        @include planet;
        @include animation(4*$time);
        &::after {
            @include planet-after(2.5*$diameter, $jupiter-color, -5%);
        }
    }
}

.saturn-orbit {
    @include planet-orbit(2.4*$orbit-dimensions);
    .saturn {
        @include planet;
        @include animation(5*$time);
        &::after {
            @include planet-after(1.8*$diameter, $saturn-color, -2.7%);
        }
    }
}

.uranus-orbit {
    @include planet-orbit(3*$orbit-dimensions);
    .uranus {
        @include planet;
        @include animation(6*$time);
        &::after {
            @include planet-after(1.5*$diameter, $uranus-color, -2%);
        }
    }
}

.neptune-orbit {
    @include planet-orbit(3.8*$orbit-dimensions);
    .neptune {
        @include planet;
        @include animation(8*$time);
        &::after {
            @include planet-after(1.4*$diameter, $neptune-color, -1.3%);
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}